<div class="contact-form-wrapper d-flex justify-content-center align-items-center py-4">
  <div class="contact-form">
    <form (submit)="onSubmit($event)">
      <label class="form-label fw-semibold">{{ 'CONTACT.NAME_LABEL' | translate }}</label>
      <input
        type="text"
        class="form-control rounded-pill"
        [placeholder]="'CONTACT.NAME_PLACEHOLDER' | translate"
        [formField]="contactForm.name"
      />
      @if (contactForm.name().touched() && contactForm.name().invalid()) {
        <div class="dng-text mb-2">
          @for (error of contactForm.name().errors(); track error.message) {
            <div class="text-danger small mt-1">{{ error.message | translate }}</div>
          }
        </div>
      }

      <label class="form-label fw-semibold mt-4">{{ 'CONTACT.EMAIL_LABEL' | translate }}</label>
      <input
        type="email"
        class="form-control rounded-pill"
        [placeholder]="'CONTACT.EMAIL_PLACEHOLDER' | translate"
        [formField]="contactForm.email"
      />
      @if (contactForm.email().touched() && contactForm.email().invalid()) {
        <div class="dng-text mb-2">
          @for (error of contactForm.email().errors(); track error.message) {
            <div class="text-danger small mt-1">{{ error.message | translate }}</div>
          }
        </div>
      }

      <label class="form-label fw-semibold mt-4">{{ 'CONTACT.SUBJECT_LABEL' | translate }}</label>
      <input
        type="text"
        class="form-control rounded-pill"
        [placeholder]="'CONTACT.SUBJECT_PLACEHOLDER' | translate"
        [formField]="contactForm.subject"
      />
      @if (contactForm.subject().touched() && contactForm.subject().invalid()) {
        <div class="dng-text mb-2">
          @for (error of contactForm.subject().errors(); track error.message) {
            <div class="text-danger small mt-1">{{ error.message | translate }}</div>
          }
        </div>
      }
      <label class="form-label fw-semibold mt-4">{{ 'CONTACT.MESSAGE_LABEL' | translate }}</label>
      <textarea
        class="form-control rounded-4"
        rows="5"
        [placeholder]="'CONTACT.MESSAGE_PLACEHOLDER' | translate"
        [formField]="contactForm.message"
      ></textarea>
      @if (contactForm.message().touched() && contactForm.message().invalid()) {
        <div class="dng-text mb-2">
          @for (error of contactForm.message().errors(); track error.message) {
            <div class="text-danger small mt-1">{{ error.message | translate }}</div>
          }
        </div>
      }

      <button
        type="submit"
        [disabled]="contactForm().invalid()"
        class="bg-color txt-white rounded-pill px-4 py-2"
      >
        {{ 'CONTACT.SUBMIT' | translate }}
      </button>
    </form>
  </div>
</div>
