.w-us {
  background-color: var(--dark-color);
  background-image: url('/assets/images/bg-hero.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.review-card {
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

@media (max-width: 992px) {
  img {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .w-us {
    text-align: center;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reviews {
    flex-direction: column;
  }
}
