.about-image {
  position: relative;
  overflow: hidden;

  img {
    width: 92%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 100%;
    background-image: url('/assets/images/bg-about-img.png');
    background-size: cover;
    background-position: center;
  }
}
