:host ::ng-deep .p-accordionheader {
  background-color: #f4f7fe;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border: none;

  &:focus {
    box-shadow: none;
    border-color: var(--primary-color) !important;
    outline: none;
    color: var(--light-color) !important;
    background-color: var(--primary-color) !important;
  }

  &.p-accordionheader-active {
    background-color: var(--primary-color) !important;
    color: var(--light-color) !important;
  }
}

:host ::ng-deep.p-accordionpanel {
  border: none !important;
}

// Resposnive

@media (max-width: 768px) {
  h2 {
    text-align: center;
  }
}
